div.barra-vertical {
    display: flex;
    background-color: black;
    justify-items: center;
    justify-content: center;
    border: 30px;
}

p.resultados {
    font-family: 'Product Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: unset;
    color: blue;
    font-size: 18px;
}

a {
    text-decoration: none;
}

p.links {
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

p.barra-vertical {
    font-weight: bold; 
    font-family: monospace;
    color: whitesmoke;
    transition-duration: 1s;
}

p.barra-vertical:hover::after {
    font-weight: bold; 
    font-family: monospace;
    color: whitesmoke;
    content: "Professor: Luciano Barbosa";
}

p.barra-vertical:hover::before {
    font-weight: bold; 
    font-family: monospace;
    color: whitesmoke;
    content: "Alunos: Lucas Vinícius (@lvjs) e Vitor Sousa (@vss2)";
    transition-duration: 1s;
}

div.resultados {
    display: block;
    width: 70%;
    padding-left: 200px;
    padding-top: 15px;
}



div.topbar_resultados {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.resultados {
    margin-top: 3px;
    height: 30px;
    margin-left: 50px;
    margin-right: 71px;
}

div.corpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

input.resultados {
    margin-top: 5px;
}

hr {
    border-width: thin;
    border-bottom-color: lightgrey;
    border-top-color: white;
    border-left-color: lightgrey;
    border-right-color: lightgray;
}

button {
    border-radius: 5px;
    border-width: 10px;
    border-style: none;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-inline: 1vh;
    padding: 10px;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

i {
    color: grey;
    position: absolute;
    padding: 6px 20px 20px 10px;
}

input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 50px;
    border-width: thin;
    border-color: grey;
    border-style: none;
    min-height: 20px;
    min-width: 500px;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: black;
    box-shadow: 0px 0px 2px grey;
}

::placeholder {
    color: lightgray;
}

div.botoes {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}
